* {
  margin: 0;
  padding: 0;
}

html {
  font: 14px/1.2 "microsoft yahei";
}

html, body, #app {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.not-found {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial;
  text-align: center;

  .center {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  .pink {
    color: #de92ad;
  }

  .white {
    color: #fff;
  }

  .left,
  .right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .left {
    left: 0;
    color: #fff;
    background-color: #de92ad;
  }
  .right {
    right: 0;
    background-color: #fff;
  }
  .face {
    font-size: 80px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 18px;
  }
  .left .face {
    font-family: "Microsoft YaHei";
  }
  .right .face {
    font-family: Arial;
  }
  .btn {
    position: absolute;
    left: 50%;
    bottom: 20%;
    width: 118px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    transform: translateX(-50%);
    overflow: hidden;

    .pink, .white {
      position: absolute;
      top: 0;
      width: 50%;
      height: 32px;
    }
    .pink {
      left: 0;
      text-align: right;
      background-color: #fff;
      letter-spacing: 1.2px;
    }
    .white {
      right: 0;
      text-align: left;
      background-color: #de92ad;
    }
  }
}
