.menu {

  .level1 {
    .nav-item {
      padding-left: 24px;
    }
  }

  .level2 {
    .nav-item {
      padding-left: 45px;
    }
  }

  .level3 {
    .nav-item {
      padding-left: 66px;
    }
  }

  .nav-link {
    display: block;
    &.active {
      color: #1976d2;
      //background-color: #1976d2;?

      .nav-icon {
        color: #1976d2;
      }
    }
  }

  .nav-icon {
    min-width: unset;
    margin-right: 5px;
    color: inherit;
  }

  .nav-text {
    margin-left: 15px;
  }

}
