.menu {

  .level1 {
    padding-left: 24px;
  }
  .nav-active {
    .level1 {
      color: #fff;
      background-color: #1976d2;
    }
    .nav-icon {
      color: #fff;
    }
  }
  .nav-icon {
    min-width: unset;
  }
  .nav-text {
    margin-left: 15px;
  }

}
