
.layout {
  position: relative;
  box-sizing: border-box;
  padding-top: 48px;

  .body {
    //display: flex-start;
    //justify-content: flex-start;
    //align-items: flex-start;
  }

  .sidebar {
    position: fixed;
    top: 48px;
    left: 0;
    width: 200px;
    height: calc(100% - 48px);
    background-color: #fff;
  }

  .main-view {
    margin-left: 200px;
  }

}
