.layout {
  position: relative;
  box-sizing: border-box;
  padding-top: 48px;
  overflow: auto;
  //.menu-container {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  box-sizing: border-box;
  //  width: 200px;
  //  height: 100%;
  //  background-color: #f7f7f7;
  //  overflow: auto;
  //}
  .body {
    //margin-left: 200px;
  }
}
